{set:$breadGuide = goods_class::catRecursion($this->catId)}
{set:$goodsObj = search_goods::find(array('category_extend' => $this->childId),21);$resultData = $goodsObj->find()}

<div class="product-model">	 
	 <div class="container">
			<ol class="breadcrumb">
		  <li><a href="{url:}">首页</a></li>
		  {foreach:items=$breadGuide}  <li class="active"><a href="{url:/site/pro_list/cat/$item[id]}">{$item['name']}</a></li>{/foreach}
		 </ol>
			<h2>OUR PRODUCTS</h2>	
			<div class="col-md-12 product-model-sec">
			{if:$resultData}
			{foreach:items=$resultData}			

			 <a title="{$item['name']}" href="{url:/site/products/id/$item[id]}">
			 <div class="product-grid love-grid">
				<div class="more-product"><span> </span></div>						
				<div class="product-img b-link-stripe b-animate-go  thickbox">
					<img src="{url:/pic/thumb/img/$item[img]/w/175/h/175}" width="175px" height="175px" alt="{$item['name']}" title="{$item['name']}" name="goodsImage" />
					<div class="b-wrapper">
					<h4 class="b-animate b-from-left  b-delay03">							
					<button class="btns"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</button>
					</h4>
					</div>
				</div>
			</a>						
				<div class="product-info simpleCart_shelfItem">
					<div class="product-info-cust prt_name">
						<h4>5 Seater sofa set</h4>
						<p>ID: SR4598</p>
						<span class="item_price">$187.95</span>								
						<!--<input type="text" class="item_quantity" value="1" />
						<input type="button" class="item_add items" value="ADD">-->
					</div>													
					<div class="clearfix"> </div>
				</div>
			</div>	
			
				{/foreach}
			</div>
			
			{$goodsObj->getPageBar()}

		{else:}
		<p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>
			<strong class="gray f14">对不起，没有找到相关商品</strong>
		</p>
		{/if}
	</div>	
</div>	
