{js:artTemplate}
{js:zoom}
{js:bxSlider}
<!--etalage-->
<link rel="stylesheet" href="{skin:css/etalage.css}">
<script src="{theme:javascript/jquery.etalage.min.js}"></script>

<script type="text/javascript" src="{theme:javascript/products.js}"></script>

<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
</script>


<!-- //etalage-->
  
<div class="single-sec">
	 <div class="container">
		 {set:$breadGuide = goods_class::catRecursion($category);}
		<ol class="breadcrumb">
			<li><a href="{url:}">Home</a></li>
			{foreach:items=$breadGuide}  <li class="active"><a href="{url:/site/pro_list/cat/$item[id]}">{$item['name']}</a></li>{/foreach}
		</ol>
		 <!-- start content -->	
			<div class="col-md-9 det">
				  <div class="single_left">
					 <div class="grid images_3_of_2">
						 <ul id="etalage">
						 {foreach:items=$photo}
							<li>
								<a href="javascript:void(0);" thumbimg="{url:/pic/thumb/img/$item['img']}" sourceimg="{webroot:$item['img']}">
								<img class="etalage_source_image" src="{url:/pic/thumb/img/$item['img']}"  />
								<img class="etalage_source_image" src="{url:/pic/thumb/img/$item['img']}"   title="" />
								</a>

							</li>
							{/foreach}
						 </ul>
						 <div class="clearfix"></div>		
				      </div>
				  </div>
					
				<div class="single-right">
					
						 <h3>{$name} </h3>
						 <div class="id"><h4>ID: {echo:$goods_no?$goods_no:$id}</h4></div>
						<div class='single-bottom1 content' style='border:0px;padding:3px; PADDING:0px; width:100%; height:180px; LINE-HEIGHT: 20px; OVERFLOW: auto;' >
							<h6>推荐理由：</h6>
							<p  class="prod-desc" >{$reason}</p>
							{if:isset($up_time) && $up_time}
							<li>发表于  {$up_time}</li>
							{/if}
						 </div>	
					
					
				  
					 {if:($attribute)}
						{foreach:items=$attribute}
						<li>{$item['name']}：{$item['attribute_value']}</li>
						{/foreach}
					{/if}
					
					  <div class="cost" style='height:70px'>
						 <div class="prdt-cost">
							 <ul>
								 
								 <a href="{$link}">￥{$sell_price}  | GET NOW ></a>
								
							 </ul>
							 
						 </div>
					 </div>
						 <div class="clearfix"></div>
						 <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
					  
					  
					  
			
			<!-- 顾客评论 -->  				 
		</div>
				  <div class="clearfix"></div>
				  <div class="sofaset-info">
						 <h4>商品{$name}已有<b class="red2">{$comments}</b>条评论</h4>
						 <!--<div class="user">
						<div class="ico">
							<a href="javascript:void(0)">
								<img src="{webroot:<%=head_ico%>}" width="70px" height="70px" onerror="this.src='{skin:images/front/user_ico.gif}'" />
							</a>
						</div>
						
						<span class="blue"><%=username%></span>
					</div>-->
						<div class="wrapper main f_r">
		<div class="wrap_box">
			<form method="post" action="{url:/site/comment_add}">
			<input type="hidden" name="id" value="{$this->comment['id']}" />
			<table class="form_table f_l">
				<caption><img src="{skin:images/front/comments.gif}" width="88" height="23" alt="我要评论" /></caption>
				<col width="120px" />
				<col />
				<tr>
					<th>评论等级：</th>
					<td>
						<label><input name="point" class="radio" type="radio" value="5" checked="checked" /><span class="grade-star g-star5"></span></label>
						<label><input name="point" class="radio" type="radio" value="4" /><span class="grade-star g-star4"></span></label>
						<label><input name="point" class="radio" type="radio" value="3" /><span class="grade-star g-star3"></span></label>
						<label><input name="point" class="radio" type="radio" value="2" /><span class="grade-star g-star2"></span></label>
						<label><input name="point" class="radio" type="radio" value="1" /><span class="grade-star g-star1"></span></label>
					</td>
				</tr>
				<tr>
					<th>评论内容：</th><td valign="top"><textarea name="contents" id="contents"></textarea></td>
				</tr>
				<tr><td></td><td><label class="btn"><input type="submit" value="我要评价" /></label></td></tr>
			</table>
			</form>
		</div>
	</div>	
					<div class="desc">
						<p class="clearfix">
							<b>评分：</b>
							<li><span ><%=point%>"></span></li>
							<li><span ><%=comment_time%></span><label></label></li>
						</p>
						<hr />
						<p><b>评价：</b><span class="gray"><%=contents%></span></p>
						<%if(recontents){%>
						<p><b>回复：</b><span class="red"><%=recontents%></span></p>
						<%}%>
					</div>
				  </div>				  					
		    </div>
			     				
		     <div class="clearfix"></div>
	  </div>
	{if:isset($content) && $content}
		<div class="salebox">
			<strong class="saletitle block">产品描述：</strong>
			<p class="saledesc">{$content}</p>
		</div>
	{/if}	  
</div>
<!---->