{js:artTemplate}
{js:zoom}
{js:bxSlider}
<!--etalage-->
<link rel="stylesheet" href="{skin:css/etalage.css}">
<script src="{theme:javascript/jquery.etalage.min.js}"></script>

<script type="text/javascript" src="{theme:javascript/products.js}"></script>

<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
</script>


<!-- //etalage-->
  
<div class="single-sec">
	 <div class="container">
		 {set:$breadGuide = goods_class::catRecursion($category);}
		<ol class="breadcrumb">
			<li><a href="{url:}">Home</a></li>
			{foreach:items=$breadGuide}  <li class="active"><a href="{url:/site/pro_list/cat/$item[id]}">{$item['name']}</a></li>{/foreach}
		</ol>
		 <!-- start content -->	
			<div class="col-md-9 det">
				  <div class="single_left">
					 <div class="grid images_3_of_2">
						 <ul id="etalage">
						 {foreach:items=$photo}
							<li>
								<a href="javascript:void(0);" thumbimg="{url:/pic/thumb/img/$item['img']}" sourceimg="{webroot:$item['img']}">
								<img class="etalage_source_image" src="{url:/pic/thumb/img/$item['img']}"  />
								<img class="etalage_source_image" src="{url:/pic/thumb/img/$item['img']}"   title="" />
								</a>

							</li>
							{/foreach}
						 </ul>
						 <div class="clearfix"></div>		
				      </div>
				  </div>
					
				<div class="single-right">
					
						 <h3>{$name} </h3>
						 <div class="id"><h4>ID: {echo:$goods_no?$goods_no:$id}</h4></div>
						<div class='single-bottom1 content' style='border:0px;padding:3px; PADDING:0px; width:100%; height:180px; LINE-HEIGHT: 20px; OVERFLOW: auto;' >
							<h6>推荐理由：</h6>
							<p  class="prod-desc" >{$reason}</p>
							{if:isset($up_time) && $up_time}
							<li>发表于  {$up_time}</li>
							{/if}
						 </div>	
					
					
				  
					 {if:($attribute)}
						{foreach:items=$attribute}
						<li>{$item['name']}：{$item['attribute_value']}</li>
						{/foreach}
					{/if}
					
					  <div class="cost" style='height:70px'>
						 <div class="prdt-cost">
							 <ul>
								 
								 <a href="{$link}">￥{$sell_price}  | GET NOW ></a>
								
							 </ul>
							 
						 </div>
					 </div>
						 <div class="clearfix"></div>
						 <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
					  
					  
					  
			
		
		
		     <div class="clearfix"></div>
		</div>
	  </div>
	     				
	  </div>
	  <!-- 网友讨论圈 start -->
		<div >
			<div class="title3">
				<span class="f_r f12 normal"><a class="comm_btn" name="discussButton">发表话题</a></span>
				<img src="{skin:images/front/discuss.gif}" width="18px" height="19px" />
				网友讨论圈<span class="f12 normal">（共<b class="red2">{$discussion}</b>记录）</span>
			</div>
			<div class="wrap_box no_wrap">
				<!--讨论内容列表-->
				<table width="100%" class="list_table">
					<colgroup>
						<col />
						<col width="150">
					</colgroup>

					<tbody id='discussBox'></tbody>
				</table>

				<!--讨论JS模板-->
				<script type='text/html' id='discussRowTemplate'>
				<tr>
					<td class="t_l discussion_td" style="border:none;">
						<span class="blue"><%=username%></span>
					</td>
					<td style="border:none;" class="t_r gray discussion_td"><%=time%></td>
				</tr>
				<tr><td class="t_l" colspan="2" style="padding:0 7px 0 13px;"><%=contents%></td></tr>
				</script>

				<!--讨论内容输入框-->
				<table class="form_table" style="display:none;" id="discussTable">
					<colgroup>
						<col width="80px">
						<col />
					</colgroup>

					<tbody>
						<tr>
							<th>讨论内容：</th>
							<td valign="top"><textarea id="discussContent" pattern="required" alt="请填写内容"></textarea></td>
						</tr>
						<tr>
							<th>验证码：</th>
							<td><input type='text' class='gray_s' name='captcha' pattern='^\w{5}$' alt='填写下面图片所示的字符' /><label>填写下面图片所示的字符</label></td>
						</tr>
						<tr class="low">
							<th></th>
							<td><img src='{url:/site/getCaptcha}' id='captchaImg' /><span class="light_gray">看不清？<a class="link" href="javascript:changeCaptcha();">换一张</a></span></td>
						</tr>
						<tr>
							<td></td>
							<td><label class="btn"><input type="submit" value="发表" name="sendDiscussButton" /></label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>  
	{if:isset($content) && $content}
		<div class="salebox">
			<strong class="saletitle block">产品描述：</strong>
			<p class="saledesc">{$content}</p>
		</div>
	{/if}	  
</div>
<!---->