
<div class="login_sec">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">Login</li>
		 </ol>
		 <h2>Login</h2>
		 <div class="col-md-6 log">			 
				 <p>Welcome, please enter the folling to continue.</p>
				 
				 <form>
					{if:$this->getError()}
					<tr><td colspan="2">
						<div class="prompt"><img src="{skin:images/front/error_s.gif}" width="16" height="15" />{echo:$this->getError()}</div>
					</td></tr>
					{/if}
					 <h5>用户名/邮箱/手机：</h5>	
					 <input type="text" value={echo:ICookie::get('loginName');} name="login_info" pattern='required' alt='填写用户名，邮箱，手机号'>
					 <h5>密码：</h5>			
					 <input  type="password" name="password" pattern='^\S{6,32}$' alt='填写密码' />
					  <a href="{url:/simple/find_password}">忘记密码 ?</a>
				 </form>
					
		 </div>
		  <div class="col-md-6 login-right">
			  	<h3>NEW REGISTRATION</h3>
				<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				<a class="acount-btn" href="account.html">Create an Account</a>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
