<div class="container">
	  <ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">Account</li>
		 </ol>
	 <div class="registration">
		 <div class="registration_left">
			 <h2>new user? <span> create an account </span></h2>
			 <!-- [if IE] 
				< link rel='stylesheet' type='text/css' href='ie.css'/>  
			 [endif] -->  
			  
			 <!-- [if lt IE 7]>  
				< link rel='stylesheet' type='text/css' href='ie6.css'/>  
			 <! [endif] -->  
			 <script>
				(function() {
			
				// Create input element for testing
				var inputs = document.createElement('input');
				
				// Create the supports object
				var supports = {};
				
				supports.autofocus   = 'autofocus' in inputs;
				supports.required    = 'required' in inputs;
				supports.placeholder = 'placeholder' in inputs;
			
				// Fallback for autofocus attribute
				if(!supports.autofocus) {
					
				}
				
				// Fallback for required attribute
				if(!supports.required) {
					
				}
			
				// Fallback for placeholder attribute
				if(!supports.placeholder) {
					
				}
				
				// Change text inside send button on submit
				var send = document.getElementById('register-submit');
				if(send) {
					send.onclick = function () {
						this.innerHTML = '...Sending';
					}
				}
			
			 })();
			 </script>

			 <div class="registration_form">
			 <!-- Form -->
				<form action='{url:/simple/reg_act}' method='post'>
				{if:$this->_siteConfig->reg_option == 1}
					<div>
						<label>
							<input placeholder="邮箱：" type="text" tabindex="1" name="email" pattern="email" alt="填写正确的邮箱格式" >
						</label>
					</div>
				{/if}
					<div>
						<label>
							<input placeholder="请填写用户名，格式为2-20个字符，可以为字数，数字下划线和中文" name='username' type="text" tabindex="2" pattern="^[\w\u0391-\uFFE5]{2,20}$" alt="填写2-20个字符，可以为字数，数字下划线和中文" />
						</label>
					</div>					
										
					<div>
						<label>
							<input placeholder="填写登录密码，6-32个字符" type="password" tabindex="4" name='password' pattern="^\S{6,32}$" bind='repassword' alt='填写6-32个字符' /><
						</label>
					</div>						
					<div>
						<label>
							<input placeholder="重复上面所填写的密码" type="password" name='repassword' pattern="^\S{6,32}$" bind='password' alt='重复上面所填写的密码' />
						</label>
					</div>
					<div>
						<label>					
						<input  type='text' name='captcha' pattern='^\w{5,10}$' alt='填写图片所示的字符' /><img src='{url:/simple/getCaptcha}' id='captchaImg' onclick="changeCaptcha();" /><label>填写图片所示的字符</label>
						</label>
					</div>	
					{if:$this->_siteConfig->reg_option == 3}
					<div>
						<label>	
						<input placeholder="手机号：" type="text" name='mobile' pattern="mobi" alt="填写正确的手机格式" />
					</label>
					</div>	
					<div>
					<label>
							<input placeholder="验证码：“ type='text' name='mobile_code' pattern='^\w{4,6}$' />
							<input onclick="_sendMobileCode(this);" type="button" value="获取验证码" style="line-height:25px;background-color:#fff;color:#000;width:90px; " /><label>填写手机短信验证码</label>
						</label>
					</div>	
					{/if}
					<div>
						<input type="submit" value="create an account" >
					</div>
					<div class="sky-form">
						<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>i agree to mobilya.com &nbsp;<a class="terms" href="#"> terms of service</a> </label>
					</div>
				</form>
				<!-- /Form -->
			 </div>
		 </div>
		 <div class="registration_left">
			 <h2>existing user</h2>
			 <div class="registration_form">
			 <!-- Form -->
				<form action='{url:/simple/login_act}' method='post'>
					<div>
						<label>
							<input placeholder="email:" type="email" tabindex="3" required>
						</label>
					</div>
					<div>
						<label>
							<input placeholder="password" type="password" tabindex="4" required>
						</label>
					</div>						
					<div>
						<input type="submit" value="sign in" id="register-submit">
					</div>
					<div class="forget">
						<a href="#">forgot your password</a>
					</div>
				</form>
			 <!-- /Form -->
			 </div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- end registration -->
<script type='text/javascript'>
$(function(){
	$(".form_table input:text").focus(function(){$(this).addClass('current');}).blur(function(){$(this).removeClass('current');})
});
</script>