
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$this->_siteConfig->name}</title>
	<link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
	<link href="{skin:css/bootstrap.css}" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary JavaScript plugins) -->
	<script type='text/javascript' src="{theme:javascript/jquery-1.11.1.min.js}"></script>
	<!-- Custom Theme files -->
	<link href="{skin:css/style.css}" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="die shi" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
	<!-- start menu -->
	<link href="{skin:css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{theme:javascript/megamenu.js}"></script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
	<script src="{theme:javascript/menu_jquery.js}"></script>
	<script src="{theme:javascript/simpleCart.min.js}"> </script>
	<script src="{theme:javascript/responsiveslides.min.js}"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  
</head>
<body>
<!-- header -->
<div class="top_bg">
	<div class="container">
		<div class="header_top-sec">
			<div class="top_right">
				<ul>
				<li><a href="{url:/site/index}">首页 </a></li>
				{foreach:items=Api::run('getGuideList')}
				<li><a href="{url:$item['link']}">{$item['name']}<span> </span></a></li>
				{/foreach}
				</ul>
			</div>
			<div class="top_left">
				<ul>
					<li class="top_link">Email:<a href="295131283@qq.com">info(at)Funiture.com</a></li>|
					<li class="top_link">{if:$this->user}
			{echo:$this->user['username']}您好，欢迎您来到{echo:$this->_siteConfig->name}购物！[<a href="{url:/simple/logout}" class="reg">安全退出</a>]
			{else:}
			[<a href="{url:/simple/login}">登录</a>|<a class="reg" href="{url:/simple/reg}">注册</a>]
			{/if}</li>|
						
					
				</ul>
				<div class="social">
					<ul>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="dribble"></i></a></li>	
						<li><a href="#"><i class="google"></i></a></li>										
					</ul>
				</div>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="header_top">
	 <div class="container ">
		 <div class="logo">
		 	<a href="index.php"><img src="{skin:images/front/logo.jpg}" alt="" height="60px"/></a>			 
		 </div>
		  <div class="clearfix"></div>	
	 </div>
</div>

<!------>
<div class="mega_nav">
	 <div class="container">
		 <div class="menu_sec">
		 <!-- start header menu -->
		 <ul class="megamenu skyblue">
			 <li class="active grid"><a class="color1" href="index.php">Home</a></li>
			 {foreach:items=Api::run('getCategoryListTop')  item=$first}
				<li class="grid"><a class="color2" href="{url:/site/pro_list/cat/$first['id']}">{$first['name']}</a>
				<div class="megapanel">
					<div class="row">
			
						<div class="col1">
							<div class="h_nav">
								<h4><a href="{url:/site/pro_list/cat/$first['id']}">{$first['name']}</a></h4>
								<ul>
									{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id']))  item=$second}
									<ul class="category selected">
									<li>
										<a href="{url:/site/pro_list/cat/$second['id']}">{$second['name']}</a>
									</li>

									<dd>
										{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$second['id']))  item=$third}
										<a href="{url:/site/pro_list/cat/$third['id']}">{$third['name']}</a>|
										{/foreach}
									</dd>
								</ul>
								{/foreach}
								</ul>	
							</div>							
						</div>
						{/foreach}
					</div>
					<div class="row">
						<div class="col2"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
					</div>
    				</div>
				</li>
									
			   </ul> 
			   <div class="search">
				 <form method='get' action='{url:/}'>
					<input type='hidden' name='controller' value='site' />
					<input type='hidden' name='action' value='search_list' />
					<input class="text" type="text" name='word' autocomplete="off" value="" placeholder="Search..."  />
					<input type="submit" value="">
				</form>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	  </div>
</div>

	{viewcontent}

<!---->

<!---->

<div class="footer-content">
	 <div class="container">
		 <div class="ftr-grids">
		 {foreach:items=Api::run('getHelpCategoryFoot') item=$helpCat}
			 <div class="col-md-3 ftr-grid">
				 <h4><a href="{url:/site/help_list/id/$helpCat['id']}">{$helpCat['name']}</a></h4>
				 <ul>
				 {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$helpCat['id']))}
					 <li><a href="{url:/site/help/id/$item['id']}">{$item['name']}</a></li>
					{/foreach}				 
				 </ul>
			 </div>
			{/foreach} 
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container">	 
		 <div class="copywrite">
			 <p>Copyright © 2016 Furnyish Store All rights reserved | Design by <a href="http://shit.com">shit</a></p>
		 </div>			 
		 </div>
	 </div>
</div>
<!---->
<script type='text/javascript'>
$(function()
{
	//搜索框填充默认数据
	$('input:text[name="word"]').val("{$this->word}");
	
	var allsortLateCall = new lateCall(200,function(){$('#div_allsort').show();});
});
</script>
</body>
</html>