<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$this->_siteConfig->name}</title>
	<link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
	<link rel="stylesheet" href="{skin:css/index.css}" />
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
	
	<!-- Custom Theme files -->
	<!--theme style-->
	<link href="{skin:css/style.css}" rel="stylesheet" type="text/css" media="all" />	
	<script src="{theme:javascript/jquery.min.js}"></script>

	<!--//theme style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- start menu -->
	<script src="{theme:javascript/simpleCart.min.js}"> </script>
	<!-- start menu -->
	<link href="{skin:css/memenu.css}" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{theme:javascript/memenu.js}"></script>
	<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
	<!-- /start menu -->
</head>
<body class="index">
<div class="container">
	<div class="header">
		<h1 class="logo"><a title="{$this->_siteConfig->name}" style="background:url({if:$this->_siteConfig->logo}{webroot:$this->_siteConfig->logo}{else:}{skin:images/front/logo.jpg}{/if}) center no-repeat;background-size:contain;" href="{url:}">{echo:$this->_siteConfig->name}</a></h1>
		<ul class="shortcut">
			<li class="first"><a href="{url:/ucenter/index}">淘宝网首页</a></li>
			<li><a href="{url:/ucenter/order}">购物车</a></li>
			<li><a href="{url:/simple/seller}">卖家中心</a></li>
			<li><a href="{url:/seller/index}">我的淘宝</a></li>
			<li class='last'><a href="{url:/site/help_list}">联系客服</a></li>
		</ul>
		<p class="loginfo">
			{if:$this->user}
			{echo:$this->user['username']}您好，欢迎您来到{echo:$this->_siteConfig->name}购物！[<a href="{url:/simple/logout}" class="reg">安全退出</a>]
			{else:}
			[<a href="{url:/simple/login}">登录</a><a class="reg" href="{url:/simple/account}">免费注册</a>]
			{/if}
		</p>
	</div>

	<div class="navbar">
		<ul>
			<li><a href="{url:/site/index}">首页</a></li>
			{foreach:items=Api::run('getCategoryListTop')  item=$first}
			<li><a href="{url:/site/pro_list/cat/$first['id']}">{$first['name']}</a></li>
			{/foreach}
		</ul>

		
	</div>

	<div class="searchbar">
	<div class="searchbox">
			<form method='get' action='{url:/}'>
				<input type='hidden' name='controller' value='site' />
				<input type='hidden' name='action' value='search_list' />
				<input class="text" type="text" name='word' autocomplete="off" value="" placeholder="请输入关键词..."  />
				<input class="btn" type="submit" value="搜索" />
			</form>
		</div>
		
	</div>

	{viewcontent}

	<div class="help m_10">
		<div class="cont clearfix">
			{foreach:items=Api::run('getHelpCategoryFoot') item=$helpCat}
			<dl>
     			<dt><a href="{url:/site/help_list/id/$helpCat['id']}">{$helpCat['name']}</a></dt>
				{foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$helpCat['id']))}
					<dd><a href="{url:/site/help/id/$item['id']}">{$item['name']}</a></dd>
				{/foreach}
      		</dl>
      		{/foreach}
		</div>
	</div>
	{echo:IFilter::stripSlash($this->_siteConfig->site_footer_code)}
</div>

<script type='text/javascript'>
$(function()
{
	//搜索框填充默认数据
	$('input:text[name="word"]').val("{$this->word}");

	var allsortLateCall = new lateCall(200,function(){$('#div_allsort').show();});

	//商品分类
	$('.allsort').hover(
		function(){
			allsortLateCall.start();
		},
		function(){
			allsortLateCall.stop();
			$('#div_allsort').hide();
		}
	);
	$('.sortlist li').each(
		function(i)
		{
			$(this).hover(
				function(){
					$(this).addClass('hover');
					$('.sublist:eq('+i+')').show();
				},
				function(){
					$(this).removeClass('hover');
					$('.sublist:eq('+i+')').hide();
				}
			);
		}
	);

	//排行,浏览记录的图片
	$('#ranklist li').hover(
		function(){
			$(this).addClass('current');
		},
		function(){
			$(this).removeClass('current');
		}
	);
});
</script>
</body>
</html>
